body {
	width: 100%;
	height: 100%;
	background-color: #222;
	overflow-x: hidden;
	font-family: sans-serif;
	margin: 0;
	padding: 0 5px;
	box-sizing: border-box;
}

.center-screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
	color: #fff;
}

.center-screen h4 {
	margin: 3px 0;
}

.center-screen p {
	margin: 0;
	/* margin-bottom: 40px; */
}

abbr {
	text-decoration: none;
	color: #FFF;
}

div.mild-fade {
	color: #bbb;
}

.download-primary {
	display: block;
	padding: 10px 20px;
	margin: 5px;
	background: #fdfdfd;
	color: #0074d9;
	border-radius: 3px;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
	transition: background-color .2s;
	box-sizing: border-box;
}

.download-primary:not(.disabled):hover {
	background-color: #cdcdcd;
	color: #0074d9;
}

.download-primary.disabled {
	cursor: default;
	opacity: 0.3;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.hidden {
	display: none;
}

.download-primary svg {
	height: 22px;
	vertical-align: middle;
	margin-left: -2px;
	margin-right: 2px;
	fill: #0074d9;
}

.footer {
	position: absolute;
	bottom: 5px;
	color: #555;
	text-align: center;
	width: 100%;
	font-size: 12px;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: #999;
}

br.break {
	margin: 20px 0;
}
