body {
	width: 100%,
	height: 100%;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

abbr {
    text-decoration: none;
}
