.header {
  text-align: center;
}

.name {
  color: #999;
  &:hover {
    color: unset;
  }
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  a {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.installButtons {
  color: #888;
  .buttons {
    display: flex;
    justify-content: center;
    a {
      margin: 0px 10px;
      padding: 10px 15px;
      color: #222;
      background-color: #999;
      border-radius: 5px;
      font-weight: bold;
      border-bottom: 3px solid #777;
      transition: 0.1s linear;
      &:hover {
        background-color: #888;
      }
    }
  }
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #333e;
  color: #ccc;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 0.8em;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -150px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
